REAL ESTATE APPLICATION

-------------------------------------------------------------
-> REQUIREMENT ELICITATION/ PLANNING
	--> 99 acres
		-> Landing page (no dashboard)
		-> Registration and login using email and phone
		-> Search and filter based on various categories
		-> Client can buy, sell or rent property
		-> Seller can be owner or real estate agent
		-> Buyers can sell and vice versa
		-> Post a property (free) 
			1. basic details
			2. Location details
			3. Property details
			4. Videos and photos
			5. Amenities
		-> Buyer or rentee can contact owner or view owner details

	--> My plan
		-> Landing page (unprotected)
		-> Registration and Login using email and phone
		-> Dashboard (protected) -> Filter and search
		-> Post a property (for seller role)
		-> Property listings page
		-> Property view page (edit and delete functionality for seller role)
		-> Rentee/Buyer can fill contact form in basic plan ;  Can view owner contact details in premium plan;
		-> Upgrade option in navbar and in view property page.

-------------------------------------------------------------
-> DESIGN

	--> FE
 		- Wireframes
		- Mockups
	--> BE
		- Class/Sequence/ER Diagram
		- Schema/Data Model
-------------------------------------------------------------
-> DEVELOPMENT

	--> BE 
		- Models
		- DTOs
		- Mappers
		- Context
		- Interface
		- Repositories
		- Services
		- Controllers
	--> FE
		- Component architecture
		- State Management
		- Local/session storage
		- API call
		- Route handling
		- toast notifications
-------------------------------------------------------------
-> DEPLOYMENT

	--> CI/CD App service / Azure Pipelines
	--> SQL Server
	--> Blobs and containers
	--> Key vaults
	--> VMs if necessary
-------------------------------------------------------------
